---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities
    body:
      encoding: UTF-8
      string: '{"entity":{"name":"Second entity"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"cc82a04974971c6009104d0d4f33ff3c"'
      Location:
      - https://sandbox.myfinance.com.br/entities/3799
    body:
      encoding: UTF-8
      string: '{"entity":{"account_id":3613,"charging_uuid":null,"created_at":"2015-07-29T11:32:05-03:00","default_in_menu":false,"deleted_at":null,"federation_subscription_number":null,"force_destroy":false,"id":3799,"imported_from_sync_at":null,"name":"Second
        entity","updated_at":"2015-07-29T11:32:05-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/entities
  recorded_at: Wed, 29 Jul 2015 14:32:06 GMT
recorded_with: VCR 2.9.3
