---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/people
    body:
      encoding: UTF-8
      string: '{"person":{"name":"Person 1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"5148e6e543e98812cc9b433d19c1db7c"'
      Location:
      - https://sandbox.myfinance.com.br/people/207486
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-06T14:04:00Z'
    body:
      encoding: UTF-8
      string: '{"person":{"address":null,"address_number":null,"city":null,"complement":null,"country":null,"created_at":"2017-03-06T11:03:04-03:00","customer":true,"email":null,"excel_import_id":null,"febraban_favored_code":null,"febraban_name":null,"federation_subscription_number":null,"federation_subscription_number_only_numbers":null,"federation_subscription_type_id":null,"force_destroy":false,"id":207486,"imported_from_sync":false,"interested_users_ids":[3703],"modified_by_sync":false,"name":"Person
        1","neighborhood":null,"note":null,"person_type":null,"phone":null,"site":null,"state":null,"supplier":true,"updated_at":"2017-03-06T11:03:04-03:00","use_count":0,"zip_code":null}}'
      effective_url: https://sandbox.myfinance.com.br/people
  recorded_at: Mon, 06 Mar 2017 14:03:04 GMT
recorded_with: VCR 2.9.3
