---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/custom_classifiers/20/values/36
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a74bbd414ab879dd3dc30c6635171529"
      X-DENTRO-ESCOPO-ADD-HEADER:
      - t=1500486057.707
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-07-19T17:41:00Z'
    body:
      encoding: UTF-8
      string: '{"custom_classifier_value":{"created_at":"2017-07-19T13:44:27-03:00","custom_classifier_id":20,"id":36,"updated_at":"2017-07-19T14:39:54-03:00","value":"Valor"}}'
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers/20/values/36
  recorded_at: Wed, 19 Jul 2017 17:40:57 GMT
recorded_with: VCR 2.9.3
