---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3703/sales/
    body:
      encoding: UTF-8
      string: '{"sale":{"amount":"0.199E3","description":"O Guia"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjhlMjI0ZWEyNDljOWUwMWEzMWNlMTlkNGY5MmUyYmFjYTNkNTA1NWExY2UwY2YwOlg=
      ACCOUNT_ID:
      - 3539
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '12'
      X-RateLimit-Reset:
      - '2017-06-02T15:32:00Z'
    body:
      encoding: UTF-8
      string: '{"nominal_amount":["n\u00e3o pode ser vazio"],"occurred_at":["n\u00e3o
        pode ser vazio"],"sale_account":["n\u00e3o pode ser vazio"],"payment_method":["n\u00e3o
        pode ser vazio","n\u00e3o est\u00e1 incluso na lista"]}'
      effective_url: https://sandbox.myfinance.com.br/entities/3703/sales/
  recorded_at: Fri, 02 Jun 2017 15:31:07 GMT
recorded_with: VCR 2.9.3
