---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/custom_classifiers/20/values/36
    body:
      encoding: UTF-8
      string: '{"custom_classifier_value":{"value":"Valor alterado"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6de4c6135c93f4b603d20b6eb8f969de"
      Location:
      - https://sandbox.myfinance.com.br/custom_classifiers/20.36
      X-DENTRO-ESCOPO-ADD-HEADER:
      - t=1500486059.784
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '14'
      X-RateLimit-Reset:
      - '2017-07-19T17:41:00Z'
    body:
      encoding: UTF-8
      string: '{"custom_classifier_value":{"created_at":"2017-07-19T13:44:27-03:00","custom_classifier_id":20,"id":36,"updated_at":"2017-07-19T14:40:59-03:00","value":"Valor
        alterado"}}'
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers/20/values/36
  recorded_at: Wed, 19 Jul 2017 17:40:59 GMT
recorded_with: VCR 2.9.3
