---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/integrations/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"entity_id":3798,"description":"Webhook 2","url":"https://sandbox.myfinance.com.br/docs/api/webhooks#get_show","format":"json"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b85bbc5334464c11d468651cc0a4230a"'
      Location:
      - https://sandbox.myfinance.com.br/integrations/webhooks/78
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-07T13:36:00Z'
    body:
      encoding: UTF-8
      string: '{"webhook":{"account_id":3613,"created_at":"2017-03-07T10:35:53-03:00","description":"Webhook
        2","entity_id":3798,"format":"json","healthy_check_code":200,"id":78,"secret":"be82ad61b71f5ee20bade867","updated_at":"2017-03-07T10:35:53-03:00","url":"https://sandbox.myfinance.com.br/docs/api/webhooks#get_show"}}'
      effective_url: https://sandbox.myfinance.com.br/integrations/webhooks
  recorded_at: Tue, 07 Mar 2017 13:35:53 GMT
recorded_with: VCR 2.9.3
