---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1215634/receive
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"total_amount":150.99,"occurred_at":"2015-08-05","amount":150.99}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"fc9301c94d4064bb29c7aa3ff58134f8"
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"id":1215634,"entity_id":3798,"status":2,"status_name":"received","due_date":"2015-08-15","occurred_at":"2015-08-05","amount":"150.99","ticket_amount":null,"interest_amount":null,"discount_amount":null,"total_amount":"150.99","description":null,"document":null,"document_emission_date":null,"observation":null,"remind":false,"reminded_at":null,"category_id":null,"classification_center_id":null,"expected_deposit_account_id":null,"recurrence_id":null,"person_id":null,"created_at":"2015-08-05T11:59:05-03:00","updated_at":"2015-08-05T15:38:21-03:00","competency_month":"2015-08","recurrent":false,"parcelled":false,"recurrence_period":null,"number_of_parcels":null,"current_parcel":null,"attachment_id_list":[],"financial_account_taxes_attributes":[],"reconciliations":{"financial_transactions":[],"financial_accounts":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1215634","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1215634","method":"delete"},{"rel":"undo_receivement","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1215634/undo_receivement","method":"put"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1215634/receive
  recorded_at: Wed, 05 Aug 2015 18:38:22 GMT
recorded_with: VCR 2.9.3
