---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/sale_accounts/7/rules/
    body:
      encoding: UTF-8
      string: '{"sale_rule":{"amount":"0.199E3","description":"O Guia"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjhlMjI0ZWEyNDljOWUwMWEzMWNlMTlkNGY5MmUyYmFjYTNkNTA1NWExY2UwY2YwOlg=
      ACCOUNT_ID:
      - 3539
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '11'
      X-RateLimit-Reset:
      - '2017-06-02T19:17:00Z'
    body:
      encoding: UTF-8
      string: '{"payment_method":["n\u00e3o pode ser vazio"],"base":["Precisa ter
        pelo menos taxa percentual ou taxa fixa"]}'
      effective_url: https://sandbox.myfinance.com.br/sale_accounts/7/rules/
  recorded_at: Fri, 02 Jun 2017 19:16:55 GMT
recorded_with: VCR 2.9.3
