---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/integrations/webhooks/76
    body:
      encoding: UTF-8
      string: '{"webhook":{"description":"Description updated"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"8dfd62e1b6a978db0bbc566c1313c2ea"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-07T17:40:00Z'
    body:
      encoding: UTF-8
      string: '{"webhook":{"account_id":3613,"created_at":"2017-03-07T09:43:19-03:00","description":"Description
        updated","entity_id":3798,"format":"json","healthy_check_code":"200","id":76,"secret":"b6bd57f3f8061cd7a1bef915","updated_at":"2017-03-07T14:39:43-03:00","url":"https://sandbox.myfinance.com.br/docs/api/webhooks"}}'
      effective_url: https://sandbox.myfinance.com.br/integrations/webhooks/76
  recorded_at: Tue, 07 Mar 2017 17:39:43 GMT
recorded_with: VCR 2.9.3
