---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3703/sales/8
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjhlMjI0ZWEyNDljOWUwMWEzMWNlMTlkNGY5MmUyYmFjYTNkNTA1NWExY2UwY2YwOlg=
      ACCOUNT_ID:
      - 3539
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"366887a99251ca724b2db40930734081"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '15'
      X-RateLimit-Reset:
      - '2017-06-02T15:32:00Z'
    body:
      encoding: UTF-8
      string: '{"sale":{"id":8,"nominal_amount":"100.0","receivable_amount":"95.0","fixed_fee_amount":null,"fee_percentage":"0.0","fee_percentage_amount":null,"issuer":"American
        Express","payment_method":"debit","status":1,"summary":false,"description":"Primeira
        venda","observation":"","category_id":525219,"classification_center_id":18892,"person_id":191988,"days_to_liquidation":0,"sale_account_id":7,"financial_account_id":1819688,"liquidation_week_day":null,"estimated_liquidated_at":"2017-06-30","liquidated_at":null,"occurred_at":"2017-06-01","created_at":"2017-06-01T16:51:19-03:00","updated_at":"2017-06-01T16:51:19-03:00","custom_classifications":[]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3703/sales/8
  recorded_at: Fri, 02 Jun 2017 15:31:07 GMT
recorded_with: VCR 2.9.3
