---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/classification_centers?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< Updated upstream
      - Thu, 09 Mar 2017 12:10:25 GMT
=======
      - Tue, 28 Mar 2017 16:31:37 GMT
>>>>>>> Stashed changes
      ETag:
      - W/"f024db5329094bae388f251ec2fd67ac"
      Server:
      - nginx/1.10.3
      Vary:
      - Accept-Encoding
      - Origin
      X-Rack-Cache:
      - miss
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
<<<<<<< Updated upstream
      - '2017-03-09T12:11:00Z'
      X-Request-Id:
      - 80432ab3cb7844b8a3f3ebac04f5643d
      X-Runtime:
      - '0.290308'
=======
      - '2017-03-28T16:32:00Z'
      X-Request-Id:
      - b069f850830da4e73a1f9bbb7074f51c
      X-Runtime:
      - '0.036854'
>>>>>>> Stashed changes
      X-UA-Compatible:
      - IE=Edge,chrome=1
      Content-Length:
      - '211'
      Connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: '[{"classification_center":{"cost_center":true,"created_at":"2015-11-13T16:40:42-02:00","entity_id":3798,"excel_import_id":null,"guid":null,"id":17982,"imported_from_sync":false,"modified_by_sync":false,"name":"Centro
        de Custo Tal","revenue_center":false,"updated_at":"2015-11-13T16:40:42-02:00","use_count":0}}]'
<<<<<<< Updated upstream
      effective_url: https://sandbox.myfinance.com.br/classification_centers
  recorded_at: Thu, 09 Mar 2017 12:10:25 GMT
=======
      effective_url: https://sandbox.myfinance.com.br/classification_centers?
  recorded_at: Tue, 28 Mar 2017 16:31:37 GMT
>>>>>>> Stashed changes
recorded_with: VCR 2.9.3
