---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/categories?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f1c885553e8412ee02f70d8de77cb355"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-03-28T17:31:00Z'
    body:
      encoding: UTF-8
      string: '[{"category":{"account_id":3613,"cost":true,"created_at":"2015-07-29T11:04:50-03:00","excel_import_id":null,"force_destroy":false,"full_name":"Moradia
        / \u00c1gua e Esgoto","guid":null,"id":532359,"imported_from_sync":false,"interested_users_ids":[],"modified_by_sync":false,"name":"\u00c1gua
        e Esgoto","parent_id":532358,"revenue":true,"updated_at":"2015-07-29T11:04:50-03:00","use_count":0}},{"category":{"account_id":3613,"cost":true,"created_at":"2015-07-29T11:04:50-03:00","excel_import_id":null,"force_destroy":false,"full_name":"Despesas
        com Filhos / Alimenta\u00e7\u00e3o","guid":null,"id":532331,"imported_from_sync":false,"interested_users_ids":[],"modified_by_sync":false,"name":"Alimenta\u00e7\u00e3o","parent_id":532330,"revenue":true,"updated_at":"2015-07-29T11:04:50-03:00","use_count":0}},{"category":{"account_id":3613,"cost":true,"created_at":"2015-07-29T11:04:50-[...]
