---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/custom_classifiers/20
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"93190279ce2d24562458eb6f383ac37c"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-07-18T20:20:00Z'
    body:
      encoding: UTF-8
      string: '{"custom_classifier":{"account_id":3613,"created_at":"2017-07-18T17:07:58-03:00","id":20,"name":"Produto","updated_at":"2017-07-18T17:07:58-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers/20
  recorded_at: Tue, 18 Jul 2017 20:19:22 GMT
recorded_with: VCR 2.9.3
