---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1320786
    body:
      encoding: UTF-8
      string: '{"receivable_account":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"44bb1d9fb015a969bb6b00b7b65a98e8"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-21T15:45:00Z'
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"id":1320786,"entity_id":3798,"status":1,"status_name":"unreceived","due_date":"2016-01-18","occurred_at":null,"amount":"100.0","ticket_amount":null,"interest_amount":null,"discount_amount":null,"nominal_amount":"100.0","total_amount":null,"description":"Adiantamento
        do Rexpense para Eduardo Hertz de Almeida Gomes","document":null,"document_emission_date":null,"observation":"http://localhost:3000/advancements/9","remind":false,"reminded_at":null,"category_id":null,"classification_center_id":null,"expected_deposit_account_id":null,"recurrence_id":null,"person_id":null,"created_at":"2016-01-18T11:11:22-02:00","updated_at":"2017-03-20T17:18:21-03:00","competency_month":"2016-01","recurrent":false,"parcelled":false,"recurrence_period":null,"number_of_parcels":null,"current_parcel":null,"attachment_id_list":[],"financial_account_taxes_attributes":[],"reconciliations":{"financial_transactions":[],"financial_accounts":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1320786","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1320786","method":"delete"},{"rel":"receive","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1320786/receive","method":"put"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1320786
  recorded_at: Tue, 21 Mar 2017 15:44:04 GMT
recorded_with: VCR 2.9.3
