---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"due_date":"2017-01-01","amount":150.0,"occurred_at":"2017-01-01","total_amount":150.0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"4696b5b5c27330c0a7343ffb435b1c2e"'
      Location:
      - https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1771297
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-22T18:25:00Z'
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"id":1771297,"entity_id":3798,"status":2,"status_name":"received","due_date":"2017-01-01","occurred_at":"2017-01-01","amount":"150.0","ticket_amount":null,"interest_amount":null,"discount_amount":null,"nominal_amount":"150.0","total_amount":"150.0","description":null,"document":null,"document_emission_date":null,"observation":null,"remind":false,"reminded_at":null,"category_id":null,"classification_center_id":null,"expected_deposit_account_id":null,"recurrence_id":null,"person_id":null,"created_at":"2017-03-22T15:24:03-03:00","updated_at":"2017-03-22T15:24:03-03:00","competency_month":"2017-01","recurrent":false,"parcelled":false,"recurrence_period":null,"number_of_parcels":null,"current_parcel":null,"attachment_id_list":[],"financial_account_taxes_attributes":[],"reconciliations":{"financial_transactions":[],"financial_accounts":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1771297","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1771297","method":"delete"},{"rel":"undo_receivement","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1771297/undo_receivement","method":"put"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts
  recorded_at: Wed, 22 Mar 2017 18:24:03 GMT
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions
    body:
      encoding: UTF-8
      string: '{"financial_transaction":{"type":"Credit","amount":150.0,"occurred_at":"2017-01-01"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a22266a1501ad37c30d19685834a045d"'
      Location:
      - https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1664130
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-03-22T18:25:00Z'
    body:
      encoding: UTF-8
      string: '{"financial_transaction":{"id":1664130,"guid":null,"type":"Credit","absolute_amount":"150.0","amount":"150.0","occurred_at":"2017-01-01","document":null,"original_description":null,"user_description":null,"bank_statement_id":null,"classification_center_id":null,"deposit_account_id":14268,"person_id":null,"parent_id":null,"currency_id":1,"category_id":null,"transfer_id":null,"created_at":"2017-03-22T15:24:03-03:00","updated_at":"2017-03-22T15:24:03-03:00","imported_from_sync":false,"balance_difference":false,"divided":false,"attachments_count":0,"observation":null,"reconciled":false,"transfer_deposit_account_id":null,"attachment_id_list":[],"reconciliations":{"financial_accounts":[],"financial_transactions":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1664130","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1664130","method":"delete"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions
  recorded_at: Wed, 22 Mar 2017 18:24:04 GMT
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/reconciles
    body:
      encoding: UTF-8
      string: '{"selected_financial_account_ids":[1771297],"selected_financial_transaction_ids":[1664130]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cee3f1701a28655c4e35d7034890cfe6"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '17'
      X-RateLimit-Reset:
      - '2017-03-22T18:25:00Z'
  [...]
