---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/categories
    body:
      encoding: UTF-8
      string: '{"category":{"name":"Category 1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"54dd1684f9a63d03efc98794e357b51e"'
      Location:
      - https://sandbox.myfinance.com.br/categories/548640
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '16'
      X-RateLimit-Reset:
      - '2017-03-28T16:58:00Z'
    body:
      encoding: UTF-8
      string: '{"category":{"cost":true,"created_at":"2017-03-28T13:57:49-03:00","excel_import_id":null,"force_destroy":false,"full_name":"Category
        1","id":548640,"imported_from_sync":false,"interested_users_ids":[3703],"modified_by_sync":false,"name":"Category
        1","parent_id":null,"revenue":true,"updated_at":"2017-03-28T13:57:49-03:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/categories
  recorded_at: Tue, 28 Mar 2017 16:57:49 GMT
recorded_with: VCR 2.9.3
