---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/classification_centers/17982
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d236b9fb57c9f2a3b42575f262c6980e"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-09T12:17:00Z'
    body:
      encoding: UTF-8
      string: '{"classification_center":{"cost_center":true,"created_at":"2015-11-13T16:40:42-02:00","entity_id":3798,"excel_import_id":null,"id":17982,"name":"Centro
        de Custo Tal","revenue_center":false,"updated_at":"2015-11-13T16:40:42-02:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/classification_centers/17982
  recorded_at: Thu, 09 Mar 2017 12:16:34 GMT
recorded_with: VCR 2.9.3
