---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3906/credit_cards/73/transactions/319529
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MDY1N2JhYzcwZmRmNWMwNmNlODIyNzE5NTY4ZjM2MzZhOWEwN2I4N2JhNjE3ZWM3Olg=
      ACCOUNT_ID:
      - 3682
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"4b5057b8b3ae3f47222e9321f4f525b2"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '15'
      X-RateLimit-Reset:
      - '2017-03-16T14:21:00Z'
    body:
      encoding: UTF-8
      string: '{"credit_card_transaction":{"id":319529,"amount":"999.0","occurred_at":"2017-03-10","document":"","observation":"","description":"O
        Guia Vol. II","classification_center_id":null,"category_id":null,"person_id":null,"credit_card_id":73,"credit_card_invoice":{"id":2867,"start_date":"2017-02-22","end_date":"2017-03-21","due_date":"2017-04-01","balance":"1795.0"},"parcels":null,"parcel":null,"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3906/credit_cards/73/transactions/319529","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3906/credit_cards/73/transactions/319529
  recorded_at: Thu, 16 Mar 2017 14:20:03 GMT
recorded_with: VCR 2.9.3
