---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/sale_accounts/
    body:
      encoding: UTF-8
      string: '{"sale_account":{"provider":"pagseguro","name":"PagSeguro","description":"Conta
        do PagSeguro","entity_id":3703}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjhlMjI0ZWEyNDljOWUwMWEzMWNlMTlkNGY5MmUyYmFjYTNkNTA1NWExY2UwY2YwOlg=
      ACCOUNT_ID:
      - 3539
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"e3e8fea1ef95fa279e401d783805d9ac"'
      Location:
      - https://sandbox.myfinance.com.br/sale_accounts/11
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-06-02T20:08:00Z'
    body:
      encoding: UTF-8
      string: '{"sale_account":{"created_at":"2017-06-02T17:07:28-03:00","description":"Conta
        do PagSeguro","entity_id":3703,"id":11,"name":"PagSeguro","provider":"pagseguro","updated_at":"2017-06-02T17:07:28-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/sale_accounts/
  recorded_at: Fri, 02 Jun 2017 20:07:28 GMT
recorded_with: VCR 2.9.3
