---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3906/credit_cards/73/transactions
    body:
      encoding: UTF-8
      string: '{"credit_card_transaction":{"amount":"0.199e3","occurred_at":"2017-01-01","description":"O
        Guia","credit_card_id":73}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MDY1N2JhYzcwZmRmNWMwNmNlODIyNzE5NTY4ZjM2MzZhOWEwN2I4N2JhNjE3ZWM3Olg=
      ACCOUNT_ID:
      - 3682
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"4b76ba249872835af8174c9aeee567d1"'
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '12'
      X-RateLimit-Reset:
      - '2017-03-16T14:21:00Z'
    body:
      encoding: UTF-8
      string: '{"credit_card_transaction":{"id":319776,"amount":"199.0","occurred_at":"2017-01-01","document":null,"observation":null,"description":"O
        Guia","classification_center_id":null,"category_id":null,"person_id":null,"credit_card_id":73,"credit_card_invoice":{"id":2881,"start_date":"2016-12-22","end_date":"2017-01-21","due_date":"2017-02-01","balance":"3383.0"},"parcels":null,"parcel":null,"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3906/credit_cards/73/transactions/319776","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3906/credit_cards/73/transactions
  recorded_at: Thu, 16 Mar 2017 14:20:03 GMT
recorded_with: VCR 2.9.3
