---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/555/receivable_accounts
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"due_date":"2015-08-15","amount":150.99}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-03-22T19:54:00Z'
    body:
      encoding: UTF-8
      string: '{"error":"Voc\u00ea n\u00e3o tem permiss\u00e3o para acessar este recurso."}'
      effective_url: https://sandbox.myfinance.com.br/entities/555/receivable_accounts
  recorded_at: Wed, 22 Mar 2017 19:53:26 GMT
recorded_with: VCR 2.9.3
