---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/classification_centers
    body:
      encoding: UTF-8
      string: '{"classification_center":{"cost_center":true,"entity_id":3798,"name":"Centro
        de custo 1","revenu_center":false,"use_count":0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"54c95ff02fccaa919237baca4ec607b2"'
      Location:
      - https://sandbox.myfinance.com.br/classification_centers/18744
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-09T12:23:00Z'
    body:
      encoding: UTF-8
      string: '{"classification_center":{"cost_center":true,"created_at":"2017-03-09T09:22:45-03:00","entity_id":3798,"excel_import_id":null,"id":18744,"name":"Centro
        de custo 1","revenue_center":true,"updated_at":"2017-03-09T09:22:45-03:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/classification_centers
  recorded_at: Thu, 09 Mar 2017 12:22:45 GMT
recorded_with: VCR 2.9.3
