---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/attachments
    body:
      encoding: UTF-8
      string: attachment[title]=My first attachment&attachment[attachment]=attachment.png=image/png=/Users/eduardo/Projetos/myfinance-client-ruby/spec/support/attachments/attachment.png
    headers:
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"902f91dbb64ad2fd3880903d098ae8e8"'
      Location:
      - https://sandbox.myfinance.com.br/entities/3798/attachments/1585
    body:
      encoding: UTF-8
      string: '{"attachment":{"id":1585,"entity_id":3798,"title":"My first attachment","attachment_file_name":"attachment.png","attachment_content_type":"image/png","attachment_file_size":6115,"created_at":"2016-03-01T15:42:30-03:00","updated_at":"2016-03-01T15:42:30-03:00","download_url":"https://sandbox.myfinance.com.br/entities/3798/attachments/1585/download","attachables":[],"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/attachments/1585","method":"get"},{"rel":"download","href":"https://sandbox.myfinance.com.br/entities/3798/attachments/1585/download","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/attachments
  recorded_at: Tue, 01 Mar 2016 18:42:30 GMT
recorded_with: VCR 2.9.3
