---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/people?search[name_equals]=Jo%C3%A3o+das+neves
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"706d6e56af8c0583b0fcf546b6e62c2a"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-03-28T18:07:00Z'
    body:
      encoding: UTF-8
      string: '[{"person":{"account_id":3613,"address":null,"address_number":null,"city":null,"complement":null,"country":null,"created_at":"2017-03-21T16:25:56-03:00","customer":true,"email":null,"excel_import_id":null,"febraban_favored_code":null,"febraban_name":null,"federation_subscription_number":null,"federation_subscription_number_only_numbers":null,"federation_subscription_type_id":null,"force_destroy":false,"guid":null,"id":207549,"imported_from_sync":false,"interested_users_ids":[3703],"modified_by_sync":false,"name":"Jo\u00e3o
        das neves","neighborhood":null,"note":null,"person_type":null,"phone":null,"site":null,"state":null,"supplier":true,"updated_at":"2017-03-21T16:25:56-03:00","use_count":0,"zip_code":null}}]'
      effective_url: https://sandbox.myfinance.com.br/people?search[name_equals]=Jo%C3%A3o+das+neves
  recorded_at: Tue, 28 Mar 2017 18:06:52 GMT
recorded_with: VCR 2.9.3
