---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities?search[name_contains]=Minhas
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f3a035ee88d3bb7e0279bf1eba61efc2"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-03-27T14:48:00Z'
    body:
      encoding: UTF-8
      string: '[{"entity":{"account_id":3613,"charging_uuid":null,"created_at":"2015-07-29T11:04:45-03:00","default_in_menu":true,"deleted_at":null,"federation_subscription_number":"","force_destroy":false,"id":3798,"imported_from_sync_at":null,"name":"Minhas
        Finan\u00e7as","updated_at":"2015-07-29T14:30:36-03:00"}}]'
      effective_url: https://sandbox.myfinance.com.br/entities?search[name_contains]=Minhas
  recorded_at: Mon, 27 Mar 2017 14:47:44 GMT
recorded_with: VCR 2.9.3
