---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/accounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7aa0d3242e92192f880c0d5dc5cfdcb1"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-07T19:47:00Z'
    body:
      encoding: UTF-8
      string: '[{"account":{"beta":true,"billimatic_subscription_token":null,"cache_version":11,"canceled_at":null,"cancellation_reason":null,"cobrato_free":true,"created_at":"2015-07-29T11:04:45-03:00","default_currency_id":1,"ecommerce_response":null,"expires_on":null,"id":3613,"invite":null,"is_trial":false,"name":"Minhas
        Aplica\u00e7\u00f5es","owner_id":3703,"payment_method":null,"phone":null,"plan_slug":"max","promo":null,"referral_code":"8a54f17e1","referrer_id":null,"updated_at":"2015-10-15T15:46:35-03:00","uuid":"2fe5beef-12d0-45a4-8fb5-701ea61ef3c1","waiting_payment":false}}]'
      effective_url: https://sandbox.myfinance.com.br/accounts
  recorded_at: Tue, 07 Mar 2017 19:46:12 GMT
recorded_with: VCR 2.9.3
