---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"name":"Nubank","flag":"BandeiraDeWesteros","closing_day":20,"expiration_day":2}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '11'
      X-RateLimit-Reset:
      - '2017-03-15T15:10:00Z'
    body:
      encoding: UTF-8
      string: '{"flag":["n\u00e3o est\u00e1 incluso na lista"]}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards
  recorded_at: Wed, 15 Mar 2017 15:09:09 GMT
recorded_with: VCR 2.9.3
