---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions
    body:
      encoding: UTF-8
      string: '{"financial_transaction":{"amount":42.42,"occurred_at":"2011-07-15","type":"Debit"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"5864478c4601d11be14adca6416d9867"'
      Location:
      - https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1664071
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '3'
      X-RateLimit-Reset:
      - '2017-03-20T16:50:00Z'
    body:
      encoding: UTF-8
      string: '{"financial_transaction":{"id":1664071,"guid":null,"type":"Debit","absolute_amount":"42.42","amount":"-42.42","occurred_at":"2011-07-15","document":null,"original_description":null,"user_description":null,"bank_statement_id":null,"classification_center_id":null,"deposit_account_id":14268,"person_id":null,"parent_id":null,"currency_id":1,"category_id":null,"transfer_id":null,"created_at":"2017-03-20T13:49:18-03:00","updated_at":"2017-03-20T13:49:18-03:00","imported_from_sync":false,"balance_difference":false,"divided":false,"attachments_count":0,"observation":null,"reconciled":false,"transfer_deposit_account_id":null,"attachment_id_list":[],"reconciliations":{"financial_accounts":[],"financial_transactions":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1664071","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1664071","method":"delete"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions
  recorded_at: Mon, 20 Mar 2017 16:49:18 GMT
[...]
- request:
    method: delete
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/destroy_many?selected_ids=1664071,1664072
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7215ee9c7d9dc229d2921a40e899ec5f"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '1'
      X-RateLimit-Reset:
      - '2017-03-20T16:50:00Z'
    body:
      encoding: UTF-8
      string: " "
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/destroy_many?selected_ids=1664071,1664072
  recorded_at: Mon, 20 Mar 2017 16:49:19 GMT
recorded_with: VCR 2.9.3
