---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/classification_centers?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5f03c02b3e25aa8a06b2cf9484dbbb99"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-28T17:21:00Z'
    body:
      encoding: UTF-8
      string: '[{"classification_center":{"cost_center":true,"created_at":"2015-11-13T16:40:42-02:00","entity_id":3798,"excel_import_id":null,"guid":null,"id":17982,"imported_from_sync":false,"modified_by_sync":false,"name":"Centro
        de Custo Tal","revenue_center":false,"updated_at":"2015-11-13T16:40:42-02:00","use_count":0}},{"classification_center":{"cost_center":true,"created_at":"2017-03-21T16:34:11-03:00","entity_id":3798,"excel_import_id":null,"guid":null,"id":18745,"imported_from_sync":false,"modified_by_sync":false,"name":"Socializa\u00e7\u00e3o
        2","revenue_center":true,"updated_at":"2017-03-21T16:34:11-03:00","use_count":0}}]'
      effective_url: https://sandbox.myfinance.com.br/classification_centers?
  recorded_at: Tue, 28 Mar 2017 17:20:49 GMT
recorded_with: VCR 2.9.3
