---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"be12fe5a0b6e38cff46e9d66644458d9"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '16'
      X-RateLimit-Reset:
      - '2017-03-28T19:14:00Z'
    body:
      encoding: UTF-8
      string: '[{"deposit_account":{"id":14819,"archived_at":null,"bank_account_id":null,"currency_id":1,"deposit_account_type_id":2,"description":"Deposit
        account test","entity_id":3798,"force_destroy":false,"imported_from_sync":false,"initial_balance":null,"last_transaction_date":null,"name":"Caixa
        Grande","sync_response":{},"calculated_balance":"0.0","logo_image_url":"logos/logo-money-account.png","links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14819","method":"get"}]}},{"deposit_account":{"id":14448,"archived_at":null,"bank_account_id":null,"currency_id":1,"deposit_account_type_id":2,"description":null,"entity_id":3798,"force_destroy":false,"imported_from_sync":false,"initial_balance":null,"last_transaction_date":null,"name":"Caixa
        Pequeno","sync_response":{},"calculated_balance":"0.0","logo_image_url":"logos/logo-money-account.png","links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14448","method":"get"}]}},{"deposit_account":{"id":14268,"archived_at":null,"bank_account_id":null,"currency_id":1,"deposit_account_type_id":2,"description":null,"entity_id":3798,"force_destroy":false,"imported_from_sync":false,"initial_balance":null,"last_transaction_date":null,"name":"Carteira","sync_response":{},"calculated_balance":"48.81","logo_image_url":"logos/logo-money-account.png","links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268","method":"get"}]}}]'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts?
  recorded_at: Tue, 28 Mar 2017 19:13:06 GMT
recorded_with: VCR 2.9.3
