---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/custom_classifiers?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d9578ab42f84915892afbc6e583f2726"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-07-18T20:20:00Z'
    body:
      encoding: UTF-8
      string: '[{"custom_classifier":{"account_id":3613,"created_at":"2017-07-18T17:07:58-03:00","id":20,"name":"Produto","updated_at":"2017-07-18T17:07:58-03:00"}}]'
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers?
  recorded_at: Tue, 18 Jul 2017 20:19:22 GMT
recorded_with: VCR 2.9.3
