---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663920
    body:
      encoding: UTF-8
      string: '{"financial_transaction":{"id":1663920,"absolute_amount":"0.5E3","amount":"0.5E3"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"fedb553b5c585be484933db4c6e56e88"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '12'
      X-RateLimit-Reset:
      - '2017-03-13T21:32:00Z'
    body:
      encoding: UTF-8
      string: '{"financial_transaction":{"id":1663920,"guid":null,"type":"Debit","absolute_amount":"500.0","amount":"-500.0","occurred_at":"2011-07-15","document":null,"original_description":null,"user_description":null,"bank_statement_id":null,"classification_center_id":null,"deposit_account_id":14268,"person_id":null,"parent_id":null,"currency_id":1,"category_id":null,"transfer_id":null,"created_at":"2017-03-13T17:49:34-03:00","updated_at":"2017-03-13T18:31:09-03:00","imported_from_sync":false,"balance_difference":false,"divided":false,"attachments_count":0,"observation":null,"reconciled":false,"transfer_deposit_account_id":null,"attachment_id_list":[],"reconciliations":{"financial_accounts":[],"financial_transactions":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663920","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663920","method":"delete"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663920
  recorded_at: Mon, 13 Mar 2017 21:31:10 GMT
recorded_with: VCR 2.9.3
