---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/custom_classifiers/20/values
    body:
      encoding: UTF-8
      string: '{"custom_classifier_value":{"value":"Nome qualquer"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b16f5ed8b13545b7e5a7713ddd811c7b"'
      Location:
      - "/custom_classifiers/20/values/39"
      X-DENTRO-ESCOPO-ADD-HEADER:
      - t=1500486230.136
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-07-19T17:44:00Z'
    body:
      encoding: UTF-8
      string: '{"custom_classifier_value":{"created_at":"2017-07-19T14:43:50-03:00","custom_classifier_id":20,"id":39,"updated_at":"2017-07-19T14:43:50-03:00","value":"Nome
        qualquer"}}'
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers/20/values
  recorded_at: Wed, 19 Jul 2017 17:43:50 GMT
- request:
    method: delete
    uri: https://sandbox.myfinance.com.br/custom_classifiers/20/values/39
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-DENTRO-ESCOPO-ADD-HEADER:
      - t=1500486230.356
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-07-19T17:44:00Z'
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers/20/values/39
  recorded_at: Wed, 19 Jul 2017 17:43:50 GMT
recorded_with: VCR 2.9.3
