---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c4ea4bd5470519ace4988d465bf77f0d"
      Link:
      - <https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions?page=2>;
        rel="last", <https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions?page=2>;
        rel="next"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-13T21:38:00Z'
    body:
      encoding: UTF-8
      string: '[{"financial_transaction":{"id":1663957,"guid":null,"type":"Debit","absolute_amount":"68.5","amount":"-68.5","occurred_at":"2011-07-15","document":null,"original_description":null,"user_description":null,"bank_statement_id":null,"classification_center_id":null,"deposit_account_id":14268,"person_id":null,"parent_id":null,"currency_id":1,"category_id":null,"transfer_id":null,"created_at":"2017-03-13T18:35:27-03:00","updated_at":"2017-03-13T18:35:27-03:00","imported_from_sync":false,"balance_difference":false,"divided":false,"attachments_count":0,"observation":null,"reconciled":false,"transfer_deposit_account_id":null,"attachment_id_list":[],"reconciliations":{"financial_accounts":[],"financial_transactions":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663957","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663957","method":"delete"}]}},{"financial_transaction":{"id":1663953,"guid":null,"type":"Debit","absolute_amount":"68.5","amount":"-68.5","occurred_at":"2011-07-15","document":null,"original_description":null,"user_description":null,"bank_statement_id":null,"cla[...]
