---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/integrations/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"description":""}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '16'
      X-RateLimit-Reset:
      - '2017-03-07T13:35:00Z'
    body:
      encoding: UTF-8
      string: '{"entity":["n\u00e3o pode ser vazio"],"format":["n\u00e3o pode ser
        vazio","n\u00e3o est\u00e1 incluso na lista"],"url":["n\u00e3o pode ser vazio","n\u00e3o
        \u00e9 v\u00e1lido"]}'
      effective_url: https://sandbox.myfinance.com.br/integrations/webhooks
  recorded_at: Tue, 07 Mar 2017 13:34:42 GMT
recorded_with: VCR 2.9.3
