---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards/44
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b1a235bc13587762de9b5d179ecb7804"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '15'
      X-RateLimit-Reset:
      - '2017-03-15T15:10:00Z'
    body:
      encoding: UTF-8
      string: '{"credit_card":{"id":44,"name":"Neon","flag":"Visa","closing_day":20,"expiration_day":2,"balance":"0.0","entity_id":3798,"category_id":null,"person_id":null,"classification_center_id":null,"observation":null,"archived_at":null,"flag_image_url":"https://dbv9lf0nkg7d3.cloudfront.net/assets/logos/logo-creditcard-visa-6757228292690c5f271966ba521f91be.png","links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/credit_cards/44","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards/44
  recorded_at: Wed, 15 Mar 2017 15:09:08 GMT
recorded_with: VCR 2.9.3
