---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/classification_centers?search[entity_id_equals]=3798&search[name_equals]=Socializa%C3%A7%C3%A3o%202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"0563718e5d9e5b084bae2b3ae672ce5e"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '18'
      X-RateLimit-Reset:
      - '2017-03-28T16:36:00Z'
    body:
      encoding: UTF-8
      string: '[{"classification_center":{"cost_center":true,"created_at":"2017-03-21T16:34:11-03:00","entity_id":3798,"excel_import_id":null,"guid":null,"id":18745,"imported_from_sync":false,"modified_by_sync":false,"name":"Socializa\u00e7\u00e3o
        2","revenue_center":true,"updated_at":"2017-03-21T16:34:11-03:00","use_count":0}}]'
      effective_url: https://sandbox.myfinance.com.br/classification_centers?search[entity_id_equals]=3798&search[name_equals]=Socializa%C3%A7%C3%A3o%202
  recorded_at: Tue, 28 Mar 2017 16:35:15 GMT
recorded_with: VCR 2.9.3
