---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/custom_classifiers
    body:
      encoding: UTF-8
      string: '{"custom_classifier":{"name":"Nome qualquer"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"e878358c0f8796419500049bad6b93d2"'
      Location:
      - https://sandbox.myfinance.com.br/custom_classifiers/26
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '12'
      X-RateLimit-Reset:
      - '2017-07-18T20:20:00Z'
    body:
      encoding: UTF-8
      string: '{"custom_classifier":{"account_id":3613,"created_at":"2017-07-18T17:19:23-03:00","id":26,"name":"Nome
        qualquer","updated_at":"2017-07-18T17:19:23-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers
  recorded_at: Tue, 18 Jul 2017 20:19:24 GMT
- request:
    method: delete
    uri: https://sandbox.myfinance.com.br/custom_classifiers/26
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '11'
      X-RateLimit-Reset:
      - '2017-07-18T20:20:00Z'
    body:
      encoding: UTF-8
      string: ''
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers/26
  recorded_at: Tue, 18 Jul 2017 20:19:24 GMT
recorded_with: VCR 2.9.3
