---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/custom_classifiers/20/values
    body:
      encoding: UTF-8
      string: '{"custom_classifier_value":{"value":"Valor 42"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"7157e7a20fe2ae3d8123d3159b78a34b"'
      Location:
      - "/custom_classifiers/20/values/38"
      X-DENTRO-ESCOPO-ADD-HEADER:
      - t=1500486058.523
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '16'
      X-RateLimit-Reset:
      - '2017-07-19T17:41:00Z'
    body:
      encoding: UTF-8
      string: '{"custom_classifier_value":{"created_at":"2017-07-19T14:40:58-03:00","custom_classifier_id":20,"id":38,"updated_at":"2017-07-19T14:40:58-03:00","value":"Valor
        42"}}'
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers/20/values
  recorded_at: Wed, 19 Jul 2017 17:40:59 GMT
recorded_with: VCR 2.9.3
