---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/custom_classifiers/25
    body:
      encoding: UTF-8
      string: '{"custom_classifier":{"name":"Classificador alterado"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"14b95db8142cb2cc78be2d9957356e71"
      Location:
      - https://sandbox.myfinance.com.br/custom_classifiers/25
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-07-18T20:22:00Z'
    body:
      encoding: UTF-8
      string: '{"custom_classifier":{"account_id":3613,"created_at":"2017-07-18T17:19:22-03:00","id":25,"name":"Classificador
        alterado","updated_at":"2017-07-18T17:21:11-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers/25
  recorded_at: Tue, 18 Jul 2017 20:21:11 GMT
recorded_with: VCR 2.9.3
