---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions
    body:
      encoding: UTF-8
      string: '{"financial_transaction":{"amount":68.5,"occurred_at":"2011-07-15","type":"Debit"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c211304e1ed4c7da5301cbc4691762c8"'
      Location:
      - https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663962
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '10'
      X-RateLimit-Reset:
      - '2017-03-13T21:38:00Z'
    body:
      encoding: UTF-8
      string: '{"financial_transaction":{"id":1663962,"guid":null,"type":"Debit","absolute_amount":"68.5","amount":"-68.5","occurred_at":"2011-07-15","document":null,"original_description":null,"user_description":null,"bank_statement_id":null,"classification_center_id":null,"deposit_account_id":14268,"person_id":null,"parent_id":null,"currency_id":1,"category_id":null,"transfer_id":null,"created_at":"2017-03-13T18:37:11-03:00","updated_at":"2017-03-13T18:37:11-03:00","imported_from_sync":false,"balance_difference":false,"divided":false,"attachments_count":0,"observation":null,"reconciled":false,"transfer_deposit_account_id":null,"attachment_id_list":[],"reconciliations":{"financial_accounts":[],"financial_transactions":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663962","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663962","method":"delete"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions
  recorded_at: Mon, 13 Mar 2017 21:37:11 GMT
- request:
    method: delete
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663962
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7215ee9c7d9dc229d2921a40e899ec5f"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '9'
      X-RateLimit-Reset:
      - '2017-03-13T21:38:00Z'
    body:
      encoding: UTF-8
      string: " "
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14268/financial_transactions/1663962
  recorded_at: Mon, 13 Mar 2017 21:37:11 GMT
recorded_with: VCR 2.9.3
