---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/sale_accounts/7/rules/
    body:
      encoding: UTF-8
      string: '{"sale_rule":{"payment_method":"debit","issuer":"visa","fee_percentage":1.0,"sale_account_id":7}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjhlMjI0ZWEyNDljOWUwMWEzMWNlMTlkNGY5MmUyYmFjYTNkNTA1NWExY2UwY2YwOlg=
      ACCOUNT_ID:
      - 3539
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"8d2a5681a423063bfa2fdc7b4f380cd7"'
      Location:
      - https://sandbox.myfinance.com.br/sale_accounts/7/rules/13
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-06-02T19:25:00Z'
    body:
      encoding: UTF-8
      string: '{"sale_rule":{"created_at":"2017-06-02T16:24:04-03:00","days_to_liquidation":0,"fee_percentage":"1.0","fixed_fee_amount":null,"id":13,"issuer":"visa","payment_method":"debit","sale_account_id":7,"updated_at":"2017-06-02T16:24:04-03:00","week_day":null}}'
      effective_url: https://sandbox.myfinance.com.br/sale_accounts/7/rules/
  recorded_at: Fri, 02 Jun 2017 19:24:04 GMT
recorded_with: VCR 2.9.3
