---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"name":"Nubank","flag":"MasterCard","closing_day":20,"expiration_day":2}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"329a42c28ca5135d0922e826043065f3"'
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '13'
      X-RateLimit-Reset:
      - '2017-03-15T15:10:00Z'
    body:
      encoding: UTF-8
      string: '{"credit_card":{"id":91,"name":"Nubank","flag":"MasterCard","closing_day":20,"expiration_day":2,"balance":"0.0","entity_id":3798,"category_id":null,"person_id":null,"classification_center_id":null,"observation":null,"archived_at":null,"flag_image_url":"https://dbv9lf0nkg7d3.cloudfront.net/assets/logos/logo-creditcard-mastercard-83e2f258255d0900a595e5c447f9114c.png","links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/credit_cards/91","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards
  recorded_at: Wed, 15 Mar 2017 15:09:09 GMT
recorded_with: VCR 2.9.3
