---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/categories
    body:
      encoding: UTF-8
      string: '{"category":{"name":"Categoria 42 do Marvin"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"dbcce65fa4a198d172fbb728513dcf2b"'
      Location:
      - https://sandbox.myfinance.com.br/categories/548641
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-28T17:36:00Z'
    body:
      encoding: UTF-8
      string: '{"category":{"cost":true,"created_at":"2017-03-28T14:35:12-03:00","excel_import_id":null,"force_destroy":false,"full_name":"Categoria
        42 do Marvin","id":548641,"imported_from_sync":false,"interested_users_ids":[3703],"modified_by_sync":false,"name":"Categoria
        42 do Marvin","parent_id":null,"revenue":true,"updated_at":"2017-03-28T14:35:12-03:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/categories
  recorded_at: Tue, 28 Mar 2017 17:35:12 GMT
recorded_with: VCR 2.9.3
