---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/entities/3798/payable_accounts/1215631/pay
    body:
      encoding: UTF-8
      string: '{"payable_account":{"total_amount":150.99,"occurred_at":"2015-08-05","amount":150.99}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1065b7187f90f490f06687a0eb9a51ee"
    body:
      encoding: UTF-8
      string: '{"payable_account":{"id":1215631,"entity_id":3798,"status":2,"status_name":"paid","due_date":"2015-08-15","occurred_at":"2015-08-05","amount":"150.99","ticket_amount":null,"interest_amount":null,"discount_amount":null,"total_amount":"150.99","description":null,"document":null,"document_emission_date":null,"observation":null,"remind":false,"reminded_at":null,"category_id":null,"classification_center_id":null,"expected_deposit_account_id":null,"recurrence_id":null,"person_id":null,"created_at":"2015-08-05T10:31:28-03:00","updated_at":"2015-08-05T14:49:26-03:00","competency_month":"2015-08","recurrent":false,"parcelled":false,"recurrence_period":null,"number_of_parcels":null,"current_parcel":null,"attachment_id_list":[],"financial_account_taxes_attributes":[],"reconciliations":{"financial_transactions":[],"financial_accounts":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/payable_accounts/1215631","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/payable_accounts/1215631","method":"delete"},{"rel":"undo_payment","href":"https://sandbox.myfinance.com.br/entities/3798/payable_accounts/1215631/undo_payment","method":"put"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/payable_accounts/1215631/pay
  recorded_at: Wed, 05 Aug 2015 18:12:48 GMT
recorded_with: VCR 2.9.3
