---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts
    body:
      encoding: UTF-8
      string: '{"deposit_account":{"archive":false,"bank_account_id":141,"currency_id":1,"deposit_account_type_id":2,"description":"Deposit
        account test","entity_id":3798,"force_destroy":false,"imported_from_sync":false,"name":"Caixa
        18","calculated_balance":"34290.11","logo_image_url":"logos/logo-bank-bradesco.png"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"472adf0251814c46feb7590af5851bd7"'
      Location:
      - https://sandbox.myfinance.com.br/entities/3798/deposit_accounts/14820
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-08T18:31:00Z'
    body:
      encoding: UTF-8
      string: '{"deposit_account":{"archived_at":null,"bank_account_id":null,"created_at":"2017-03-08T15:30:58-03:00","currency_id":1,"deposit_account_type_id":2,"description":"Deposit
        account test","entity_id":3798,"force_destroy":false,"id":14820,"imported_from_sync":false,"initial_balance":null,"last_transaction_date":null,"name":"Caixa
        18","sync_response":{},"updated_at":"2017-03-08T15:30:58-03:00","calculated_balance":"0.0"}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/deposit_accounts
  recorded_at: Wed, 08 Mar 2017 18:30:58 GMT
recorded_with: VCR 2.9.3
