---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards/44/transactions/319730
    body:
      encoding: UTF-8
      string: '{"credit_card_transaction":{"occurred_at":"data invalida"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"235b9b1ad963d686f648e5ff755afd81"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-15T21:07:00Z'
    body:
      encoding: UTF-8
      string: '{"credit_card_transaction":{"id":319730,"amount":"999.0","occurred_at":null,"document":null,"observation":null,"description":"O
        Guia Vol. II","classification_center_id":null,"category_id":null,"person_id":null,"credit_card_id":44,"credit_card_invoice":{"id":2880,"start_date":"2049-12-21","end_date":"2050-01-20","due_date":"2050-02-02","balance":"999.0"},"parcels":null,"parcel":null,"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/credit_cards/44/transactions/319730","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards/44/transactions/319730
  recorded_at: Wed, 15 Mar 2017 21:06:44 GMT
recorded_with: VCR 2.9.3
