---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3906/credit_cards/73/transactions
    body:
      encoding: UTF-8
      string: '{"credit_card_transaction":{"amount":"0.199e3","description":"O Guia"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MDY1N2JhYzcwZmRmNWMwNmNlODIyNzE5NTY4ZjM2MzZhOWEwN2I4N2JhNjE3ZWM3Olg=
      ACCOUNT_ID:
      - 3682
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '11'
      X-RateLimit-Reset:
      - '2017-03-16T14:21:00Z'
    body:
      encoding: UTF-8
      string: '{"occurred_at":["n\u00e3o pode ser vazio"]}'
      effective_url: https://sandbox.myfinance.com.br/entities/3906/credit_cards/73/transactions
  recorded_at: Thu, 16 Mar 2017 14:20:04 GMT
recorded_with: VCR 2.9.3
