---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/categories/532314
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5005e008ec484ab18507b384eddafe97"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-02T19:51:00Z'
    body:
      encoding: UTF-8
      string: '{"category":{"cost":true,"created_at":"2015-07-29T11:04:50-03:00","excel_import_id":null,"force_destroy":false,"full_name":"Category
        updated","id":532314,"imported_from_sync":false,"interested_users_ids":[3703],"modified_by_sync":false,"name":"Category
        updated","parent_id":null,"revenue":true,"updated_at":"2017-03-02T16:08:55-03:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/categories/532314
  recorded_at: Thu, 02 Mar 2017 19:50:50 GMT
recorded_with: VCR 2.9.3
