---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1215634/receive
    body:
      encoding: UTF-8
      string: '{"receive_account":{"total_amount":null,"occurred_at":"2015-08-05","amount":150.99}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Sua solicita\u00e7\u00e3o n\u00e3o \u00e9 v\u00e1lida. Por
        favor, verifique os dados enviados."}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1215634/receive
  recorded_at: Wed, 05 Aug 2015 18:37:40 GMT
recorded_with: VCR 2.9.3
