---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/entities/3798/payable_accounts/1215631/pay
    body:
      encoding: UTF-8
      string: '{"payable_account":{"total_amount":null,"occurred_at":"2015-08-05","amount":150.99}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total_amount":["n\u00e3o pode ser vazio"]}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/payable_accounts/1215631/pay
  recorded_at: Wed, 05 Aug 2015 18:12:49 GMT
recorded_with: VCR 2.9.3
