---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/sale_accounts/7
    body:
      encoding: UTF-8
      string: '{"sale_account":{"nominal_amount":"0.999E3","description":"Amarelinha"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjhlMjI0ZWEyNDljOWUwMWEzMWNlMTlkNGY5MmUyYmFjYTNkNTA1NWExY2UwY2YwOlg=
      ACCOUNT_ID:
      - 3539
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"6dc8770334bb27ce049d5815fbdd413c"
      Location:
      - https://sandbox.myfinance.com.br/sale_accounts/7
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '13'
      X-RateLimit-Reset:
      - '2017-06-02T19:55:00Z'
    body:
      encoding: UTF-8
      string: '{"sale_account":{"created_at":"2017-05-30T10:12:04-03:00","description":"Amarelinha","entity_id":3703,"id":7,"name":"Conta
        da Cielo","provider":"cielo","updated_at":"2017-06-02T16:54:07-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/sale_accounts/7
  recorded_at: Fri, 02 Jun 2017 19:54:07 GMT
recorded_with: VCR 2.9.3
