---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/integrations/webhooks
    body:
      encoding: UTF-8
      string: '{"webhook":{"entity_id":3798,"description":"Webhook test","url":"http://requestb.in/xssmudxs","format":"json"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-07T12:08:00Z'
    body:
      encoding: UTF-8
      string: '{"url":["A URL n\u00e3o respondeu \u00e0 requisi\u00e7\u00e3o de teste."]}'
      effective_url: https://sandbox.myfinance.com.br/integrations/webhooks
  recorded_at: Tue, 07 Mar 2017 12:07:46 GMT
recorded_with: VCR 2.9.3
