---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/sale_accounts/7
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjhlMjI0ZWEyNDljOWUwMWEzMWNlMTlkNGY5MmUyYmFjYTNkNTA1NWExY2UwY2YwOlg=
      ACCOUNT_ID:
      - 3539
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"75074fd948f78ff071325cff11e6a7d8"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '15'
      X-RateLimit-Reset:
      - '2017-06-02T19:55:00Z'
    body:
      encoding: UTF-8
      string: '{"sale_account":{"created_at":"2017-05-30T10:12:04-03:00","description":"","entity_id":3703,"id":7,"name":"Conta
        da Cielo","provider":"cielo","updated_at":"2017-05-30T10:12:04-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/sale_accounts/7
  recorded_at: Fri, 02 Jun 2017 19:54:07 GMT
recorded_with: VCR 2.9.3
