---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/categories
    body:
      encoding: UTF-8
      string: '{"category":{"name":"Category 1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d7cfb7cdbeda87b4417254de8df4a5e0"'
      Location:
      - https://sandbox.myfinance.com.br/categories/548083
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-02-24T19:19:00Z'
    body:
      encoding: UTF-8
      string: '{"category":{"cost":true,"created_at":"2017-02-24T16:18:24-03:00","excel_import_id":null,"force_destroy":false,"full_name":"Category
        1","id":548083,"imported_from_sync":false,"interested_users_ids":[3703],"modified_by_sync":false,"name":"Category
        1","parent_id":null,"revenue":true,"updated_at":"2017-02-24T16:18:24-03:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/categories
  recorded_at: Fri, 24 Feb 2017 19:18:24 GMT
recorded_with: VCR 2.9.3
