---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1235051
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"amount":100.0}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"4e9686c78b4b907eada8f09d4fa6173c"
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"id":1235051,"entity_id":3798,"status":1,"status_name":"unreceived","due_date":"2015-08-15","occurred_at":null,"amount":"100.0","ticket_amount":null,"interest_amount":null,"discount_amount":null,"total_amount":null,"description":null,"document":null,"document_emission_date":null,"observation":null,"remind":false,"reminded_at":null,"category_id":null,"classification_center_id":null,"expected_deposit_account_id":null,"recurrence_id":null,"person_id":null,"created_at":"2015-08-13T16:29:06-03:00","updated_at":"2015-08-13T16:31:34-03:00","competency_month":"2015-08","recurrent":false,"parcelled":false,"recurrence_period":null,"number_of_parcels":null,"current_parcel":null,"attachment_id_list":[],"financial_account_taxes_attributes":[],"reconciliations":{"financial_transactions":[],"financial_accounts":[]},"links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1235051","method":"get"},{"rel":"destroy","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1235051","method":"delete"},{"rel":"receive","href":"https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1235051/receive","method":"put"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts/1235051
  recorded_at: Thu, 13 Aug 2015 19:31:34 GMT
recorded_with: VCR 2.9.3
