---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/categories/532323
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"041af51087b707535b05fe9a9090e0ea"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '17'
      X-RateLimit-Reset:
      - '2017-03-28T17:31:00Z'
    body:
      encoding: UTF-8
      string: '{"category":{"cost":true,"created_at":"2015-07-29T11:04:50-03:00","excel_import_id":null,"force_destroy":false,"full_name":"Animal
        de Estima\u00e7\u00e3o / Veterin\u00e1rio","id":532323,"imported_from_sync":false,"interested_users_ids":[],"modified_by_sync":false,"name":"Veterin\u00e1rio","parent_id":532320,"revenue":true,"updated_at":"2015-07-29T11:04:50-03:00","use_count":0}}'
      effective_url: https://sandbox.myfinance.com.br/categories/532323
  recorded_at: Tue, 28 Mar 2017 17:30:37 GMT
recorded_with: VCR 2.9.3
