---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts
    body:
      encoding: UTF-8
      string: '{"receivable_account":{"due_date":"","amount":150.99}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 422
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"competency_month":["n\u00e3o pode ser vazio"],"due_date":["n\u00e3o
        \u00e9 uma data v\u00e1lida"]}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/receivable_accounts
  recorded_at: Wed, 05 Aug 2015 14:59:06 GMT
recorded_with: VCR 2.9.3
