---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards
    body:
      encoding: UTF-8
      string: '{"credit_card":{"name":"Nubank","flag":"MasterCard","closing_day":20,"expiration_day":2}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"09967f0af6422dd5f728ee88b44a4727"'
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '7'
      X-RateLimit-Reset:
      - '2017-03-15T15:10:00Z'
    body:
      encoding: UTF-8
      string: '{"credit_card":{"id":93,"name":"Nubank","flag":"MasterCard","closing_day":20,"expiration_day":2,"balance":"0.0","entity_id":3798,"category_id":null,"person_id":null,"classification_center_id":null,"observation":null,"archived_at":null,"flag_image_url":"https://dbv9lf0nkg7d3.cloudfront.net/assets/logos/logo-creditcard-mastercard-83e2f258255d0900a595e5c447f9114c.png","links":[{"rel":"self","href":"https://sandbox.myfinance.com.br/entities/3798/credit_cards/93","method":"get"}]}}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards
  recorded_at: Wed, 15 Mar 2017 15:09:10 GMT
- request:
    method: delete
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards/93
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"7215ee9c7d9dc229d2921a40e899ec5f"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '6'
      X-RateLimit-Reset:
      - '2017-03-15T15:10:00Z'
    body:
      encoding: UTF-8
      string: " "
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards/93
  recorded_at: Wed, 15 Mar 2017 15:09:11 GMT
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/entities/3798/credit_cards/93
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '5'
      X-RateLimit-Reset:
      - '2017-03-15T15:10:00Z'
    body:
      encoding: UTF-8
      string: '{"error":"Couldn''t find CreditCard with id=93 [WHERE `credit_cards`.`entity_id`
        = 3798]"}'
      effective_url: https://sandbox.myfinance.com.br/entities/3798/credit_cards/93
  recorded_at: Wed, 15 Mar 2017 15:09:11 GMT
recorded_with: VCR 2.9.3
