---
http_interactions:
- request:
    method: get
    uri: https://sandbox.myfinance.com.br/integrations/webhooks
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"594cce8074cdd507e6d9c253402b7270"
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '2017-03-07T16:56:00Z'
    body:
      encoding: UTF-8
      string: '[{"webhook":{"account_id":3613,"created_at":"2017-03-07T09:43:19-03:00","description":"Webhook
        test","entity_id":3798,"format":"json","healthy_check_code":"200","id":76,"secret":"b6bd57f3f8061cd7a1bef915","updated_at":"2017-03-07T09:43:19-03:00","url":"https://sandbox.myfinance.com.br/docs/api/webhooks"}},{"webhook":{"account_id":3613,"created_at":"2017-03-07T09:45:56-03:00","description":"Webhook
        1","entity_id":3798,"format":"json","healthy_check_code":"200","id":77,"secret":"9b5e3e1015ffa63934d68510","updated_at":"2017-03-07T09:45:56-03:00","url":"https://sandbox.myfinance.com.br/docs/api/webhooks#get_index"}},{"webhook":{"account_id":3613,"created_at":"2017-03-07T10:35:53-03:00","description":"Webhook
        2","entity_id":3798,"format":"json","healthy_check_code":"200","id":78,"secret":"be82ad61b71f5ee20bade867","updated_at":"2017-03-07T10:35:53-03:00","url":"https://sandbox.myfinance.com.br/docs/api/webhooks#get_show"}}]'
      effective_url: https://sandbox.myfinance.com.br/integrations/webhooks
  recorded_at: Tue, 07 Mar 2017 16:55:23 GMT
recorded_with: VCR 2.9.3
