---
http_interactions:
- request:
    method: post
    uri: https://sandbox.myfinance.com.br/custom_classifiers
    body:
      encoding: UTF-8
      string: '{"custom_classifier":{"name":"Classificador 42"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjU1MmRkNWE4NTk4Y2EwODliOTFjNWUzNTVhODNiODZlNDY5NmFlZmFjOWVhYTA1Olg=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"32f757b181fef925d2371be8625f3ad3"'
      Location:
      - https://sandbox.myfinance.com.br/custom_classifiers/25
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '16'
      X-RateLimit-Reset:
      - '2017-07-18T20:20:00Z'
    body:
      encoding: UTF-8
      string: '{"custom_classifier":{"account_id":3613,"created_at":"2017-07-18T17:19:22-03:00","id":25,"name":"Classificador
        42","updated_at":"2017-07-18T17:19:22-03:00"}}'
      effective_url: https://sandbox.myfinance.com.br/custom_classifiers
  recorded_at: Tue, 18 Jul 2017 20:19:22 GMT
recorded_with: VCR 2.9.3
