---
http_interactions:
- request:
    method: put
    uri: https://sandbox.myfinance.com.br/sale_accounts/7/rules/6
    body:
      encoding: UTF-8
      string: '{"sale_rule":{"payment_method":"credit","issuer":"visa","sale_account_id":7}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic YjhlMjI0ZWEyNDljOWUwMWEzMWNlMTlkNGY5MmUyYmFjYTNkNTA1NWExY2UwY2YwOlg=
      ACCOUNT_ID:
      - 3539
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"feb5d25540bc56f9a27ab680c4bf6f4b"
      Location:
      - https://sandbox.myfinance.com.br/sale_accounts/7/rules/6
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Remaining:
      - '10'
      X-RateLimit-Reset:
      - '2017-06-02T19:17:00Z'
    body:
      encoding: UTF-8
      string: '{"sale_rule":{"created_at":"2017-05-30T10:14:36-03:00","days_to_liquidation":30,"fee_percentage":"1.5","fixed_fee_amount":"1.21","id":6,"issuer":"visa","payment_method":"credit","sale_account_id":7,"updated_at":"2017-06-02T16:15:34-03:00","week_day":null}}'
      effective_url: https://sandbox.myfinance.com.br/sale_accounts/7/rules/6
  recorded_at: Fri, 02 Jun 2017 19:16:55 GMT
recorded_with: VCR 2.9.3
